:root {
    --main--color: #03040d;
    --hover--color: rgb(0, 119, 199);
    --text--color: #7d7d7d;
}
* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -webkit-o-box-sizing: border-box;
    -webkit-moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-scroll-behavior: smooth;
    -webkit-o-scroll-behavior: smooth;
    -webkit-moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
    color: white;
    font-weight: 400;
}
.container {
    max-width: 1200px;
    padding: 1em 0;
    margin-right: auto;
    margin-left: auto;
}
body {
    background-color: black;
}
.main {
    height: 150vh;
    margin-right: auto;
    background-color: var(--main--color);
    position: relative;
}
.main nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 105px;
    background-color: rgba(194, 194, 194, 0.027);
    border-bottom: 1px solid rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(21px);
    z-index: 999;
    opacity: 0;
    transition: 2s;
}
.main nav a {
    text-decoration: none;
}
.main nav ul {
    display: flex;
    margin-right: 25px;
}
.main nav ul li {
    list-style: none;
    padding-left: 40px;
}
.main nav ul li a {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    transition: .3s;
}
.main nav ul li a.active::before {
    content: "";
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
}
.main nav > a:last-of-type {
    margin-right: 20px;
    background-color: white;
    padding: 7px 25px;
    text-align: center;
    color: black;
    font-weight: 500;
    border-radius: 3px;
}
.main .land .land-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    transition: 3s;
}
.main .land .land-items > span {
    font-size: 1.8em;
    font-weight: 700;
    background-color: white;
    color: black;
    padding: 8px 3px;
    padding-left: 12px;
    text-align: center;
    border-radius: 7px;
    margin-top: 20px;
    transform: rotateY(90deg);
    transition: 2s;
}
.main .land .land-items span.point {
    color: black;
    font-size: 25px;
    padding-right: 3px;
}
.main .land .land-items > h1 {
    font-size: 3.8em;
    font-weight: 500;
    width: 700px;
    text-align: center;
    transform: rotateX(90deg);
    transition: 2s;
}
.main .land .land-items p {
    color: var(--text--color);
    width: 430px;
    text-align: center;
    margin-top: -20px;
    transform: translateY(50px);
    opacity: 0;
    transition: 2s;
}
.main .land .land-items .btns {
    display: flex;
    transform: translateY(50px);
    opacity: 0;
    transition: 2s;
}
.main .land .land-items .btns a {
    font-size: 18px;
    margin: 40px 20px;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    transition: .4s;
}
.main .land .land-items .btns a:hover {
    filter: brightness(.8);
}
.main .land .land-items .btns a:last-of-type {
    background-color: #0266ff;
}
.main .land .land-items .btns a:first-of-type {
    background-color: #1c1c1c;
}
.main .land .mackbook {
    transform: translateY(0) rotateX(-90deg);
    transition: 3s;
}
.main .land .mackbook::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.26);
    filter: blur(100px);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 805px;
    height: 550px;
}
.main .land .mackbook img:first-of-type {
    position: relative;
    margin: 0 7%;
    width: 86%;
    height: 560px;
}
.main .land .mackbook img:nth-of-type(2) {
    position: absolute;
    top: 5.5%;
    left: 16.41%;
    width: 67.4%;
    height: 84%;
}
.main .land .mackbook img:last-of-type {
    position: absolute;
    top: 47.6%;
    left: 50.1%;
    translate: -50% -50%;
    width: 67.5%;
    height: 84%;
    transform: scale(0.4);
    transition: 3s;
}
.app {
    width: 100%;
    margin-top: 100px;
}
.app .app-items {
    display: flex;
}
.app .app-items > div {
    opacity: 0;
    transition: 2s;
}
.app .app-items > div:not(:first-of-type) {
    margin-left: 30px;
}
.app .app-items > div {
    height: 665px;
    background-color: #181818; 
    border-radius: 25px;
    position: relative;
}
.app .app-items > div:first-of-type {
    margin-left: -40px;
    width: 525px;
}
.app .app-items > div:nth-of-type(2) {
    width: 350px;
    overflow: hidden;
}
.app .app-items > div:last-of-type {
    width: 350px;
    margin-right: -50px;
}
.app .app-items > div:first-of-type h3 {
    font-size: 42px;
    font-weight: 500;
    line-height: 1.3;
    padding: 40px 40px 0 40px;
}
.app .app-items > div:first-of-type p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    width: 400px;
    color: var(--text--color);
    padding: 13px 40px 0 40px;
}
.app .app-items > div:first-of-type img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 525px;
}
.app .app-items > div:nth-of-type(2) img {
    position: absolute;
}
.app .app-items > div:nth-of-type(2) img:first-of-type {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}
.app .app-items > div:nth-of-type(2) img:nth-of-type(2) {
    width: 280px;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    z-index: 2;
}
.app .app-items > div:nth-of-type(2) img:last-of-type {
    width: 260px;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 30px;
    z-index: 1;
}
.app .app-items > div:last-of-type > div:first-of-type {
    display: flex;
    align-items: center;
    padding: 40px 25px 0 25px;
}
.app .app-items > div:last-of-type > div:first-of-type img {
    background-color: white;
    padding: 8px 5.5px;
    border-radius: 5px;
}
.app .app-items > div:last-of-type > div:first-of-type h2 {
    font-size: 19px;
    margin-left: 10px;
}
.app .app-items > div:last-of-type > div:first-of-type i {
    margin-left: 140px;
    font-size: 13px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}
.app .app-items > div:last-of-type > div:nth-of-type(2) > div {
    padding: 0 25px;
}
.app .app-items > div:last-of-type > div:nth-of-type(2) > div div:first-of-type h1 {
    font-size: 62px;
    margin-top: 30px;
}
.app .app-items > div:last-of-type > div:nth-of-type(2) > div div:first-of-type h1 img {
    width: 25px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.app .app-items > div:last-of-type > div:nth-of-type(2) > div div:nth-of-type(2) p {
    font-size: 21px;
    padding-top: 5px;
}
.app .app-items > div:last-of-type > div:nth-of-type(2) > div div:nth-of-type(2) p {
    color: var(--text--color);
}
.app .app-items > div:last-of-type > div:nth-of-type(2) > div div:last-of-type p {
    color: var(--text--color);
    line-height: 1.2;
    margin-top: 50px;
}
.swiper {
    width: 100%;
    height: 100%;
}
.app .app-items > div:last-of-type .swiper-button-next {
    scale: .4;
    color: white;
    position: absolute;
    top: 570px;
    right: 10px;
    border: 4px solid white;
    border-radius: 50%;
    padding: 40px;
}
.app .app-items > div:last-of-type .swiper-button-prev {
    scale: .4;
    color: white;
    position: absolute;
    top: 570px;
    left: 10px;
    border: 4px solid white;
    border-radius: 50%;
    padding: 40px;
}
.app .app-items > div:last-of-type .swiper-pagination {
    position: absolute;
    top: 580px;
    left: 50%;
    translate: -50% 0;
    width: 200px;
}
.app .app-items > div:last-of-type .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: white;
}
.app .sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
}
.app .sponsor h1 {
    font-size: 42px;
    font-weight: 500;
    transition: 3s;
    transform: translateY(50px);
    opacity: 0;
}
.app .sponsor img {
    margin-top: 32px;
    width: 130px;
    transition: 3s;
    transform: translateY(50px);
    opacity: 0;
}
.app .sponsor img:not(:first-of-type) {
    margin-left: 80px;
}
#products {
    background-color: #0d0d0d;
    height: 2200px;
}
#products .products-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}
#products .products-items .products-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}
#products .products-items .products-head h1 {
    font-size: 62px;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
    transform: translateY(50px);
    opacity: 0;
    transition: 2s;
}
#products .products-items .products-head p {
    font-size: 15px;
    line-height: 1.2;
    color: var(--text--color);
    text-align: center;
    width: 465px;
    margin-top: -23px;
    transform: translateY(50px);
    opacity: 0;
    transition: 2s;
}
#products .products-items .products-1 {
    display: flex;
    flex-direction: row;
    margin-top: 140px;
    padding: 0 20px;
}
#products .products-items .products-1 > div:nth-of-type(2) {
    position: relative;
    width: 500px;
    height: 660px;
    border-radius: 25px;
    overflow: hidden;
}
#products .products-items .products-1 > div:nth-of-type(2) img:first-of-type {
    border-radius: 20px;
    width: 100%;
}
#products .products-items .products-1 > div:nth-of-type(2) img:last-of-type {
    position: absolute;
    bottom: -100px;
    left: 100px;
    width: 500px;
    border-radius: 10px;
    transform: translateX(150px) rotateY(45deg);
    opacity: 0;
    transition: 2s;
}
#products .products-items .products-1 > div:first-of-type {
    position: relative;
}
#products .products-items .products-1 > div:first-of-type img {
    position: absolute;
    top: 45px;
    left: -35px;
    width: 350px;
    border-radius: 10px;
    z-index: 99;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.44);
    transform: translateX(150px) rotateY(45deg);
    opacity: 0;
    transition: 1s;
}
#products .products-items .products-1 > div:last-of-type {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 160px;
    margin-left: 55px;
    padding-left: 100px;
}
#products .products-items .products-1 > div:last-of-type h5 {
    font-size: 18px;
    display: flex;
    align-items: center;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s;
}
#products .products-items .products-1 > div:last-of-type h5 img {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}
#products .products-items .products-1 > div:last-of-type h2 {
    font-size: 42px;
    width: 350px;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 33px;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s;
}
#products .products-items .products-1 > div:last-of-type p {
    font-size: 15px;
    line-height: 1.2;
    color: var(--text--color);
    margin-top: 30px;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s;
}
#products .products-items .products-1 > div:last-of-type a {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    background-color: #0266ff;
    width: 195px;
    margin: 40px 0;
    padding: 18px 10px;
    border-radius: 10px;
    text-decoration: none;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s;
}
#products .products-items .products-1 > div:last-of-type a:hover {
    filter: brightness(.8);
}


#products .products-items .products-2 {
    display: flex;
    flex-direction: row;
    margin-top: 230px;
    padding: 0 20px;
}
#products .products-items .products-2 > div:last-of-type {
    position: relative;
    width: 500px;
    height: 660px;
    border-radius: 25px;
    overflow: hidden;
}
#products .products-items .products-2 > div:last-of-type img:first-of-type {
    border-radius: 20px;
    width: 100%;
}
#products .products-items .products-2 > div:last-of-type img:nth-of-type(2) {
    position: absolute;
    top: 75px;
    left: 50%;
    translate: -50% 0;
    width: 400px;
    border-radius: 10px;
    z-index: 99;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.44);
    transform: translateX(150px) rotateY(45deg);
    opacity: 0;
    transition: 1s;
}
#products .products-items .products-2 > div:last-of-type img:last-of-type {
    position: absolute;
    bottom: 75px;
    left: 50%;
    translate: -50% 0;
    width: 400px;
    border-radius: 10px;
    transform: translateX(150px) rotateY(45deg);
    opacity: 0;
    transition: 1s;
}
#products .products-items .products-2 > div:first-of-type {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 140px;
    margin-right: 55px;
    padding-right: 100px;
}
#products .products-items .products-2 > div:first-of-type h5 {
    font-size: 18px;
    display: flex;
    align-items: center;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s;
}
#products .products-items .products-2 > div:first-of-type h5 img {
    background-color: white;
    padding: 8px 5px;
    border-radius: 5px;
    margin-right: 10px;
}
#products .products-items .products-2 > div:first-of-type h2 {
    font-size: 42px;
    width: 350px;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 33px;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s;
}
#products .products-items .products-2 > div:first-of-type p {
    font-size: 15px;
    line-height: 1.2;
    color: var(--text--color);
    margin-top: 30px;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s;
}
#products .products-items .products-2 > div:first-of-type a {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    background-color: #0266ff;
    width: 195px;
    margin: 40px 0;
    padding: 18px 10px;
    border-radius: 10px;
    text-decoration: none;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s;
}
#products .products-items .products-2 > div:first-of-type a:hover {
    filter: brightness(.8);
}

#solutions {
    width: 100%;
    height: 1080px;
}
#solutions .solutions-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
#solutions .solutions-items .solutions-head {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 2s;
    transform: translateY(150px);
    opacity: 0;
}
#solutions .solutions-items .solutions-head h1 {
    font-size: 3.88em;
    font-weight: 500;
    line-height: 1.3;
    width: 900px;
}
#solutions .solutions-items .solutions-head p {
    font-size: 16px;
    font-weight: 300;
    color: var(--text--color);
    width: 440px;
    margin-top: -20px;
}
#solutions .solutions-items .solutions-ele {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-right: -30px;
}
#solutions .solutions-items .solutions-ele > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}
#solutions .solutions-items .solutions-ele > div > div {
    width: 300px;
    position: relative;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #0d0d0d;
}

@keyframes rotate {
    from {rotate: 0}
    to {rotate: 360deg}
    from {rotate: 0}
}

#solutions .solutions-items .solutions-ele > div > div > div img:first-of-type  {
    top: -50%;
    left: -50%;
    width: 210%;
    height: 210%;
    position: absolute;
    transition: .6s;
    animation: rotate linear 2s infinite;
    opacity: 0;
}
#solutions .solutions-items .solutions-ele > div > div:hover > div img:first-of-type {
    opacity: 1;
}
#solutions .solutions-items .solutions-ele > div > div > div img:last-of-type {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    transition: 2s;
    transform: translateX(50px);
    opacity: 0;
}
#solutions .solutions-items .solutions-ele > div p {
    font-size: 20px;
    line-height: 1.3;
    margin-top: 10px;
}
#solutions .solutions-items .solutions-ele > div span {
    font-size: 16px;
    line-height: 1.3;
    margin-top: 10px;
    color: var(--text--color);
}

#what-they-said {
    background-color: #0d0d0d;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 900px;
    overflow: hidden;
}
#what-they-said .testimonials-head {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
#what-they-said .testimonials-head h1 {
    font-size: 3.88em;
    font-weight: 500;
    line-height: 1.3;
    width: 750px;
    transition: 2s;
    transform: translateY(150px);
    opacity: 0;
}
#what-they-said .testimonials-head p {
    font-size: 16px;
    font-weight: 300;
    color: var(--text--color);
    width: 480px;
    margin-top: -20px;
    transition: 2s;
    transform: translateY(150px);
    opacity: 0;
}
#what-they-said .testimonials-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#what-they-said .testimonials-items > div {
    position: relative;
    width: 800px;
    height: 345px;
    background-color: #121212;
    border-radius: 12px;
    margin: 0 40px;
    margin-top: 85px;
    transition: 3s;
    opacity: 0;
}
#what-they-said .testimonials-items > div > div:first-of-type {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 415px;
    height: 315px;
    background-color: #1b1c1d;
    border: 1px solid #323338;
    border-radius: 12px;
    padding: 28px;
}
#what-they-said .testimonials-items > div > div:first-of-type p {
    font-size: 21px;
    color: var(--text--color);
}
#what-they-said .testimonials-items > div > div:first-of-type > span:last-of-type {
    position: absolute;
    bottom: 30px;
    margin-left: 5px;
    background-color: #0266ff;
    text-align: center;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 600;
}
#what-they-said .testimonials-items > div > div:last-of-type img {
    position: absolute;
}
#what-they-said .testimonials-items > div > div:last-of-type img:first-of-type {
    top: 40px;
    left: 40px;
}
#what-they-said .testimonials-items > div > div:last-of-type img:nth-of-type(2) {
    width: 240px;
    height: 250px;
    top: 40px;
    left: -45px;
}
#what-they-said .testimonials-items > div > div:last-of-type img:nth-of-type(3) {
    width: 240px;
    height: 250px;
    top: 45px;
    left: 197px;
}
#what-they-said .testimonials-items > div > div:last-of-type img:last-of-type {
    width: 50px;
    bottom: 40px;
    left: 40px;
    background-color: rgba(99, 91, 255, 0.4);
    border-radius: 50%;
    padding: 3px 6px;
}
#what-they-said .testimonials-items > div > div:last-of-type p {
    position: absolute;
    bottom: 65px;
    left: 105px;
    font-size: 17px;
}
#what-they-said .testimonials-items > div > div:last-of-type span {
    position: absolute;
    bottom: 44px;
    left: 105px;
    font-size: 13.5px;
    color: var(--text--color);
}

#pricing {
    height: 1250px;
}
#pricing .pricing-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}
#pricing .pricing-head h1 {
    font-size: 62px;
    font-weight: 500;
    line-height: 1.3;
    width: 800px;
    transition: 2s;
    transform: translateY(50px);
    opacity: 0;
}
#pricing .pricing-head p {
    font-size: 15px;
    line-height: 1.3;
    color: var(--text--color);
    margin-top: -25px;
    width: 470px;
    transition: 2s;
    transform: translateY(50px);
    opacity: 0;
}
#pricing .pricing-items {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
#pricing .pricing-items .basic {
    background-color: #1b1c1d;
    width: 530px;
    height: 720px;
    margin-left: -40px;
    padding: 60px 50px;
    border-radius: 10px;
}
#pricing .pricing-items .ultra {
    background-color: #0d0d0d;
    width: 720px;
    height: 720px;
    margin-left: 30px;
    margin-right: -100px;
    padding: 60px 50px;
    border-radius: 10px;
}
#pricing .pricing-items .basic > div:first-of-type {
    position: relative;
}
#pricing .pricing-items .basic > div:first-of-type::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ffffff36;
    bottom: -40px;
    left: 0;
}
#pricing .pricing-items .basic > div:first-of-type span {
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #ffffff3d;
    border-radius: 20px;
    padding: 8px 16px;
}
#pricing .pricing-items .basic > div:first-of-type h1 {
    font-size: 42px;
    font-weight: 500;
    margin-top: 35px;
}
#pricing .pricing-items .basic > div:nth-of-type(2) {
    position: relative;
    margin-top: 110px;
}
#pricing .pricing-items .basic > div:nth-of-type(2)::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ffffff36;
    bottom: -85px;
    left: 0;
}
#pricing .pricing-items .basic > div:nth-of-type(2) p {
    font-size: 22px;
    font-weight: 300;
    margin-top: 25px;
}
#pricing .pricing-items .basic > div:nth-of-type(2) p i {
    margin-right: 10px;
    font-size: 20px;
}
#pricing .pricing-items .basic > div:last-of-type {
    position: absolute;
    margin-top: 135px;
    display: flex;
    flex-direction: row;
}
#pricing .pricing-items .basic > div:last-of-type p {
    font-size: 25px;
}
#pricing .pricing-items .basic > div:last-of-type p span {
    font-size: 20px;
    color: var(--text--color);
}
#pricing .pricing-items .basic > div:last-of-type > span {
    margin-left: 165px;
    margin-top: -10px;
    font-size: 17px;
    font-weight: 300;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    transition: .3s;
}

#pricing .pricing-items .ultra > div:first-of-type {
    position: relative;
}
#pricing .pricing-items .ultra > div:first-of-type::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ffffff36;
    bottom: -40px;
    left: 0;
}
#pricing .pricing-items .ultra > div:first-of-type span {
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #ffffff3d;
    border-radius: 20px;
    padding: 8px 16px;
}
#pricing .pricing-items .ultra > div:first-of-type h1 {
    font-size: 42px;
    font-weight: 500;
    margin-top: 35px;
}
#pricing .pricing-items .ultra > div:nth-of-type(2) {
    position: relative;
    margin-top: 80px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
}
#pricing .pricing-items .ultra > div:nth-of-type(2)::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ffffff36;
    bottom: -40px;
    left: 0;
}
#pricing .pricing-items .ultra > div:nth-of-type(2) p {
    font-size: 22px;
    font-weight: 300;
    margin-top: 25px;
}
#pricing .pricing-items .ultra > div:nth-of-type(2) p i {
    margin-right: 10px;
    background-color: white;
    color: black;
    border-radius: 50%;
    font-size: 16px;
    padding: 4px 5px;
}
#pricing .pricing-items .ultra > div:last-of-type {
    position: absolute;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
}
#pricing .pricing-items .ultra > div:last-of-type p {
    font-size: 25px;
}
#pricing .pricing-items .ultra > div:last-of-type p span {
    font-size: 20px;
    color: var(--text--color);
}
#pricing .pricing-items .ultra > div:last-of-type > span {
    margin-left: 350px;
    margin-top: -10px;
    font-size: 17px;
    font-weight: 300;
    color: white;
    background-color: #0266ff;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    transition: .3s;
}
#pricing .pricing-items .basic > div:last-of-type > span:hover {
    filter: brightness(.8);
}
#pricing .pricing-items .ultra > div:last-of-type > span:hover {
    filter: brightness(.8);
}
#pricing .pricing-items .ultra > div , #pricing .pricing-items .basic > div {
    opacity: 0;
    transition: 3s;
}
.sign-up {
    background-color: #0d0d0d;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-up .sign-up-title {
    text-align: center;
    margin-top: 105px;
}
.sign-up .sign-up-title h1 {
    font-size: 62px;
    font-weight: 500;
    transform: translateY(100px);
    opacity: 0;
    transition: 2s;
}
.sign-up .sign-up-title > p {
    margin-top: -20px;
    color: var(--text--color);
    transform: translateY(100px);
    opacity: 0;
    transition: 2s;
}
.sign-up .sign-up-items {
    position: relative;
    margin-top: 70px;
    text-align: center;
    background-color: #1b1c1d;
    height: 390px;
    width: 970px;
    border-radius: 10px;
    overflow: hidden;
}
.sign-up .sign-up-items div {
    margin-top: 110px;
    transition: 2s;
    opacity: 0;
}
.sign-up .sign-up-items img:first-of-type {
    position: relative;
    display: block;
    margin: 20px auto;
    margin-top: 0;
    background-color: white;
    padding: 17px 11px;
    padding-left: 13px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px rgb(33 121 255 / 62%);
    transition: 2s;
}
.sign-up .sign-up-items::before {
    position: absolute;
    content: '';
    background-color: #ffffff33;
    width: 1px;
    height: var(--HeightBefore, 0);
    top: 0;
    left: 50%;
    transition: 2s;
}
.sign-up .sign-up-items span {
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
}
.sign-up .sign-up-items p:first-of-type {
    width: 450px;
    color: var(--text--color);
    margin: auto;
    padding-top: 5px;
}
.sign-up .sign-up-items form {
    position: relative;
}
.sign-up .sign-up-items form input {
    background-color: #333;
    width: 370px;
    height: 50px;
    border: 1px solid #515151;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 14px 0 rgba(0, 0, 0, 0.24), 0 21px 36px 0 rgba(99, 91, 255, 0.12);
    margin-top: 40px;
    padding: 10px;
    transition: .4s;
}
.sign-up .sign-up-items form input:focus {
    border: 1px solid #0266ff;
}
.sign-up .sign-up-items form i {
    position: absolute;
    top: 50px;
    right: 310px;
    background-color: #0266ff;
    padding: 8px 9px;
    border-radius: 50%;
    cursor: pointer;
}
.sign-up .sign-up-items p:last-of-type {
    margin-top: 10px;
    color: var(--text--color);
}
.sign-up .sign-up-items img:not(:first-of-type) {
    position: absolute;
    width: 350px;
    animation: rotate linear 5s infinite;
}
.sign-up .sign-up-items img:nth-of-type(2) {
    bottom: -120px;
    left: -140px;
}
.sign-up .sign-up-items img:last-of-type {
    top: -70px;
    right: -130px;
}

.links {
    position: relative;
    height: 320px;
}
.links::before {
    position: absolute;
    content: '';
    width: 85%;
    height: 1px;
    background-color: #ffffff42;
    top: 230px;
    left: 50%;
    translate: -50%;
}
.links .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.links .container div:first-of-type {
    margin-left: -40px;
}
.links .container div:first-of-type h1 {
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.links .container > div:first-of-type p {
    width: 300px;
    color: var(--text--color);
}
.links .container > div:nth-of-type(2) {
    margin-left: 400px;
    display: flex;
    flex-direction: row;
}
.links .container > div:nth-of-type(2) > div {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-top: 20px;
}
.links .container > div:nth-of-type(2) > div a:first-of-type {
    font-weight: 500;
    color: white;
    font-size: 17px;
}
.links .container > div:nth-of-type(2) > div a {
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--text--color);
    font-size: 15px;
    transition: .3s;
}
.links .container > div:nth-of-type(2) > div a:hover {
    color: white;
}
.links .container > div:last-of-type {
    position: relative;
    display: flex;
    flex-direction: row;
}
.links .container > div:last-of-type p:first-of-type {
    position: absolute;
    right: 940px;
    top: 250px;
    width: 300px;
}
.links .container > div:last-of-type p:nth-of-type(2) {
    position: absolute;
    right: -140px;
    top: 250px;
    width: 300px;
}